@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 83% 94%;
    --foreground: 215 28% 17%;
    --card: 48 83% 98%;
    --card-foreground: 215 28% 17%;
    --popover: 48 83% 98%;
    --popover-foreground: 215 28% 17%;
    --primary: 221 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 195 53% 79%;
    --secondary-foreground: 222 47% 11%;
    --muted: 195 53% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 35 100% 58%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 53% 89%;
    --input: 195 53% 89%;
    --ring: 221 100% 50%;
    --chart-1: 221 100% 50%;
    --chart-2: 35 100% 58%;
    --chart-3: 195 53% 79%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 221 100% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 195 53% 29%;
    --secondary-foreground: 210 40% 98%;
    --muted: 195 53% 22%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 35 100% 68%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 53% 25%;
    --input: 195 53% 25%;
    --ring: 221 100% 60%;
    --chart-1: 221 100% 60%;
    --chart-2: 35 100% 68%;
    --chart-3: 195 53% 39%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
